Repository rafilkmp3/resume-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: resume-data-validation, npm-audit

resume-data-validation:
  name: Resume JSON Schema validation
  entry: bash
  args:
  - -c
  - npx ajv-cli validate -s config/resume-schema.json -d src/resume-data.json && echo "âœ… resume-data passes validation"
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit
  entry: npm audit --audit-level=high
  language: system
  pass_filenames: false

test: add remote work type to trigger staging deployment workflow
  src/resume-data.json
Due: resume-data-validation

test: add release-please action to minimal test workflow
  .github/workflows/test-release-minimal.yml
Due: none

test: add job dependencies and outputs to minimal release test
  .github/workflows/test-release-minimal.yml
Due: none

chore: remove temporary test workflow after successful debugging
  .github/workflows/test-release-minimal.yml
Due: none

fix: resolve staging deployment runner acquisition failure
  .github/workflows/staging-deployment.yml
Due: none

perf: upgrade staging deployment to arm64 runners for performance boost
  .github/workflows/staging-deployment.yml
Due: none

fix: resolve job dependency mismatch in staging workflow
  .github/workflows/staging-deployment.yml
Due: none

feat: implement /version endpoints for environment tracking
  scripts/build.js
Due: none

feat: robust version endpoints with validation and environment detection
  scripts/build.js
Due: none

test: validate version endpoints in preview deployment environment
  src/resume-data.json
Due: resume-data-validation

fix: remove duplicate condition in pr preview workflow
  .github/workflows/pr-preview.yml
Due: none

fix: replace staging deployment simulation with actual deployment-core.yml workflow
  .github/workflows/staging-deployment.yml
Due: none

feat: implement real staging deployment with version endpoints testing
  .github/workflows/staging-deployment.yml
Due: none

feat: add version endpoint testing highlight to trigger staging deployment validation
  src/resume-data.json
Due: resume-data-validation

fix: resolve staging deployment job output reference mismatch
  .github/workflows/staging-deployment.yml
Due: none

feat: test fixed staging deployment workflow validation
  src/resume-data.json
Due: resume-data-validation

feat: implement comprehensive e2e pipeline validation system
  .github/workflows/e2e-pipeline-validation.yml
  CLAUDE.md
  Makefile
  package.json
  scripts/e2e-testing/endpoint-monitor.js
  scripts/e2e-testing/pipeline-orchestrator.js
Due: npm-audit

test: e2e pipeline validation - e2e-20250821-200449-17137744642
  src/resume-data.json
Due: resume-data-validation

fix: resolve e2e pipeline validation workflow issues
  .github/workflows/e2e-pipeline-validation.yml
Due: none

test: e2e pipeline validation - e2e-20250821-200700-17137785155
  src/resume-data.json
Due: resume-data-validation

test: e2e pipeline validation - e2e-20250821-200711-17137790342
  src/resume-data.json
Due: resume-data-validation

feat: enhance e2e pipeline with comprehensive version validation
  .github/workflows/e2e-pipeline-validation.yml
Due: none

feat: apply arm64 runners migration for optimal performance testing
  .github/workflows/e2e-pipeline-validation.yml
  .github/workflows/release-please.yml
  .github/workflows/staging-deployment.yml
Due: none

feat: update resume summary to reflect arm64 optimization and context7 integration
  src/resume-data.json
Due: resume-data-validation

feat: add staging results posting to release-please prs with user-friendly summaries
  .github/workflows/release-please.yml
  .github/workflows/shared-deployment-status.yml
  .github/workflows/staging-deployment.yml
Due: none

feat: update resume to reflect advanced staging automation with release-please integration
  src/resume-data.json
Due: resume-data-validation

fix: add missing newlines at end of workflow files to resolve yaml syntax errors
  .github/workflows/release-please.yml
  .github/workflows/staging-deployment.yml
Due: none

feat(dx): add arm64 optimization support
  .claude/agent-registry.json
  .claude/agents.md
  .claude/commands.md
  .claude/context7-researcher.js
  .claude/conventional-committer.js
  .claude/deployment-monitor.js
  .claude/github-ecosystem-analyzer.js
  .claude/project-memory.js
  .claude/resume-optimizer.js
  .claude/test-strategist.js
  .claude/workflow-orchestrator.js
Due: none

fix: resolve staging deployment startup failures by switching to ubuntu-latest runner
  .github/workflows/staging-deployment.yml
Due: none

fix: add missing permissions for staging workflow to call shared deployment status
  .github/workflows/staging-deployment.yml
Due: none

feat(ci): enforce arm64 consistency for core build workflows
  .github/workflows/pr-preview.yml
  .github/workflows/staging-deployment.yml
Due: none

test: e2e pipeline validation - e2e-20250822-113558-17154207006
  src/resume-data.json
Due: resume-data-validation

refactor: modular documentation and workflow improvements
  .github/actions/github-setup/action.yml
  .github/workflows/staging-deployment.yml
  CLAUDE.md
  docs/architecture.md
  docs/arm64-performance.md
  docs/commands.md
  docs/conventional-commits.md
  docs/platform-engineering.md
  docs/workflows-reusable.md
Due: none

fix: try ubuntu-22.04-arm runner for pr preview
  .github/workflows/pr-preview.yml
Due: none

feat: implement reusable arm64 build workflow and composite action
  .github/actions/node-build/action.yml
  .github/workflows/_build.yml
Due: none

fix: use ubuntu-24.04-arm as per github docs
  .github/workflows/pr-preview.yml
Due: none

fix: remove duplicate condition in pr-preview workflow
  .github/workflows/pr-preview.yml
Due: none

test: validate arm64 pr preview workflow
  src/templates/template.html
Due: none

refactor: modular documentation and critical workflow fixes
  .github/actions/github-setup/action.yml
  .github/actions/node-build/action.yml
  .github/workflows/_build.yml
  .github/workflows/pr-preview.yml
  .github/workflows/staging-deployment.yml
  CLAUDE.md
  docs/architecture.md
  docs/arm64-performance.md
  docs/commands.md
  docs/conventional-commits.md
  docs/platform-engineering.md
  docs/workflows-reusable.md
  src/templates/template.html
Due: none

Path conditions:
  resume-data-validation: any of: src/resume-data\.json$
  npm-audit: any of: package.*\.json$
